- var title = '| Create Room'
- var description = "Personalize your own room!"
- var keywords = 'drawingwith.us, drawingwithus, collaborative drawing, board, rooms, online group drawing, draw with friends, artisic drawing board'
- var author = 'David Baer, Zach Standridge'

include inc/header.pug
div.container
	h1#username.text-left Create Room

	//leave tabbed over
	include inc/footer.pug 