extends layouts/app

block metadefs
	- var title = '| Register'
	- var description = 'Create an account to have access to a username, a friends list, and your own rooms!'
	- var keywords = 'drawingwith.us, drawingwithus, collaborative drawing, board, rooms, online group drawing, draw with friends, artisic drawing board'

block content
	div.container
		h1.text-left Create an Account
		form.form.newUserForm(action="/register/", method="POST")
			div.row
				div.col-md-4
					div.row
						div.col-md-12.form-group
							input#username.form-control(type="text", name="username", placeholder="Username (Required)") 
						div.col-md-12.form-group.text-center
							label(for="avatarUpload"): i.fa.fa-user
							br 
							label(for="avatarUpload") Upload an Avatar
							input#avatarUpload.form-control.hidden(type="file", name="avatar", accept="image/*")
				div.col-md-8
					div.row
						div.col-md-4.form-group
							input#email.form-control(type="text", name="email", placeholder="Email")
						div.col-md-4.form-group
							input#pass1.form-control(type="password", name="password1", placeholder="Password (Required)")
						div.col-md-4.form-group
							input#pass2.form-control(type="password", name="password2", placeholder="Password again (Required)")
						div.col-md-12.form-group
							textarea#bio.form-control(name="bio", placeholder="You can put a bio here, if you want. It'll show up on your user page. \n It could be something else, though... It's not like we're gonna check.")
				div.col-md-12
					div.row
						button.btn.btn-default(type="submit") Sign Up!

block styles
	style.
		.fa-upload, .fa-user {
			cursor: pointer;
			font-size: 	68px;
			text-shadow:	10px 0px #ccc,
							20px 0px #aac,
							30px 0px #8a8,
							40px 0px #877,
							50px 0px #667;
		}