* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

@keyframes gradShift {

	0% {
		filter: hue-rotate(0deg);
		-webkit-filter: hue-rotate(0deg);
	}
	33% {
		filter: hue-rotate(160deg);
		-webkit-filter: hue-rotate(160deg);
	}
	66%{
		filter: hue-rotate(270deg);
		-webkit-filter: hue-rotate(270deg);
	}
	99% {
		filter: hue-rotate(360deg);
		-webkit-filter: hue-rotate(360deg);
	}
}
@-webkit-keyframes gradShift {

	0% {
		filter: hue-rotate(0deg);
		-webkit-filter: hue-rotate(0deg);
	}
	33% {
		filter: hue-rotate(160deg);
		-webkit-filter: hue-rotate(160deg);
	}
	66%{
		filter: hue-rotate(270deg);
		-webkit-filter: hue-rotate(270deg);
	}
	99% {
		filter: hue-rotate(360deg);
		-webkit-filter: hue-rotate(360deg);
	}
}

body {
	font: 13px Helvetica, Arial;
}
.bg{
	position: absolute;
	width:100%;
	height:100%;
	z-index: -1;
	animation: gradShift 900s;
	-webkit-animation: gradShift 900s;
	background: #e570e7;
	background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 6%, #c85ec7 6%, #a849a3 15%, #fef9ff 17%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(6%,#c85ec7), color-stop(6%,#c85ec7), color-stop(15%,#a849a3), color-stop(17%,#fef9ff)) no-repeat;
	background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 6%,#c85ec7 6%,#a849a3 15%,#fef9ff 17%) no-repeat;
	background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 6%,#c85ec7 6%,#a849a3 15%,#fef9ff 17%) no-repeat;
	background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 6%,#c85ec7 6%,#a849a3 15%,#fef9ff 17%) no-repeat;
	background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 6%,#c85ec7 6%,#a849a3 15%,#fef9ff 17%) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#fef9ff',GradientType=0 ) no-repeat;
}

canvas{
	margin: 50px 0 10px 0;
	outline: 10px solid #eee;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,.2);
	background: #fff;
	cursor: url('/images/pencil.cur'), url('/images/pencil.png'), crosshair;
}

[class^='mouse_'] {
	position:absolute;
	pointer-events: none;
	z-index: 2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
[class^='mouse_'] img {
	float: left;
}
[class^='mouse_'] .message {
	position: absolute;
	top: 20px;
	left: 0;
}
[class^='mouse_']:after {
	content: " " attr(data-name);
	float: right;
}

#msgBox {
	position: relative;
}

.userList {
    width: 120px;
    margin: 0 auto;
}
.userList li {
    list-style-type: none;
    text-align: left;
}
.userList li div{
	width: 20px;
	height: 10px;
	margin: 0px 10px;
	display: inline-block;
	float:right;
}